numpy==1.19.5
pillow==8.2.0
scikit-image==0.18.1
scikit-learn==0.24.2
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-addons==0.13.0
tensorflow-estimator==2.5.0
